@media (max-width: 1023px) {
	#errores{
		background-color: blue;
		margin-top: 55px;
	}
	header h1{
		text-align: center;
	}
	.nav{
		position: relative;
		z-index: 10;
	}

	.foro{
		width: 100%;
		padding: 0px 20px;
		margin: 0px;
	}
	aside{
		width: 100%;
		padding: 0px 20px;
		margin: 0px;
		padding-bottom: 50px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	aside .paises{
		margin: 0px;
		padding: 0px;
	}
}